'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Test Status'
      'submenu': [
        { 'label': 'Run Tests', 'command': 'test-status:run-tests' }
        { 'label': 'Toggle Output', 'command': 'test-status:toggle-output' }
      ]
    ]
  }
]
