'exception-reporting':
  'userId': 'e4f61984-d46a-ac5f-9fee-03de8343d278'
'release-notes':
  'viewedVersion': '0.67.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'ba6b56aa14d2094b746478cf181e9567a2e4abfa'
'editor':
  'fontFamily': 'Monaco'
  'fontSize': 11
  'preferredLineLength': 120
  'showIndentGuide': true
'core':
  'themes': [
    'unicorn-ui'
    'unicorn-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'disabledPackages': [
    'welcome'
    'language-rspec'
  ]
'gist-it':
  'newGistsDefaultToPrivate': true
  'userToken': 'f0629fc9b2b87278d5c44d187c711b5e8d229f7e'
'whitespace':
  'ensureSingleTrailingNewline': false
'test-status':
  'Rakefile': 'spec'
'rspec':
  'command': 'spec'
